
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="text-center" style="color:dodgerblue">OKUL YÖNETİM SİSTEMİNE HOŞ GELDİNİZ</h2>

<img src="~/img/undraw_posting_photo.svg" />
